%h1 Let's create a new reporter

%p.greeting= "Hello, #{current_user.name}!"

%h2 Reporter Info
%ul
  %li
    %b Name
    = @reporter.name
  %li
    %b Email
    = @reporter.email
  %li
    %b Username
    = @reporter.nickname


%footer= link_to 'Log out', logout_url    
