- if @shoots.blank?
  %p There are not any shoots currently in the system.
- else
  %h2 Latest Shoots

%p.new= link_to 'New Shoot', new_shoot_path
%ul.shoots
  - @shoots.each do |shoot|
    %li
      %article
        %h3= link_to shoot.slug, shoot
        %p.assignment_description= link_to shoot.assignment_description, shoot
        %p.deadline= link_to time_display(shoot.deadline), shoot
        %ul.controls
          %li.edit= link_to 'Edit', edit_shoot_path(shoot)
          %li.destroy= link_to 'Destroy', shoot, method: :delete, data: { confirm: 'are you sure?' }
